# Project-specific ignores
*.mp3
*.mp4
*.jpg
*.jpeg
*.png
log/
sounds/
videos/
images/
assets/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# git
.git/