# RENAME THIS FILE TO .env (remove the .example extension). 
# PLACE ALL API KEYS/INFO IMMEDIATELY AFTER THE EQUAL SIGN ('=') WITH NO SPACES OR QUOTATION MARKS.

# Enable debug mode (True/False)
DEBUG=

# Enable disnake's logs (True/False)
DISNAKE_LOGGING=

# Follow disnake's instructions at https://docs.disnake.dev/en/stable/discord.html
# After Step 7 under "Creating a Bot Account", paste the token here
DISCORD_BOT_TOKEN=

# The URI of the MongoDB database
DATABASE_URI=

# Create an app at https://myanimelist.net/apiconfig
MAL_CLIENT_ID=

# Follow directions at https://github.com/arrrlo/Google-Images-Search#installation
GOOGLE_KEY=
GOOGLE_SEARCH_ID=

# Any HTTP proxy in the form 'http://username:password@proxy.com:port'
PROXY_HTTP_URL=

# The website to scrape
WEBSCRAPE_URL=